<html>
<div class="containerSlika">
  <div class="left-content">
    <h2>
      <span *ngIf="jezikService.isBosanski(); else englishWelcome">Dobrodošli</span>
      <ng-template #englishWelcome>Welcome</ng-template>
    </h2>
  </div>
  <div routerLink="/korisnickiProfil" class="right-content">
    <img class="korisnickiProfil" src="../../../assets/profil.png" alt="profil">
  </div>
</div>
<br>
<div class="container">
  <button routerLink="/ponuda" class="centered-button1">
    <span *ngIf="jezikService.isBosanski(); else englishDemand">Ponuda</span>
    <ng-template #englishDemand>Offer</ng-template>
  </button>
</div>
<br>
<div class="datum">
  <div class="tekst-container">
    <p class="uPotraziSi">
      <span *ngIf="jezikService.isBosanski(); else englishLookingFor">U potrazi si?</span>
      <ng-template #englishLookingFor>Looking for?</ng-template>
    </p>
    <br>
    <p class="tekst">
      <span *ngIf="jezikService.isBosanski(); else englishSelectDate">Dodaj posao koji ti je potreban i uštedi svoje vrijeme</span>
      <ng-template #englishSelectDate>Add job that you need and save your time</ng-template>
    </p>
  </div>
  <svg class="slikaDatum" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" (click)="dodaj_posao=true">
    <path d="M12 5v14m-7-7h14" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>

</div>
<br><br><br><br>
<div class="carousel-container">
  <button (click)="prevPage()" class="carousel-button arrow">
    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M15 18l-6-6 6-6" stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd"/>
    </svg>
  </button>
  <div class="carousel">
    <div class="carousel-inner">
      <div *ngFor="let kategorija of currentKategorije" class="kategorija" (click)="navigateToPonuda(kategorija.kategorijaID)">
        <img class="kategorija-slika" [src]="kategorija.slika" alt="Kategorija slika">
        <p>{{ kategorija.naziv }}</p>
      </div>
    </div>
  </div>
  <button (click)="nextPage()" class="carousel-button arrow">
    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M9 18l6-6-6-6" stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd"/>
    </svg>
  </button>
</div>
<br>
<h4>
  <span *ngIf="jezikService.isBosanski(); else englishLatestJobs">Najnoviji poslovi</span>
  <ng-template #englishLatestJobs>Latest Jobs</ng-template>
</h4>
<br>
<div class="containerPonude">
  <div class="Pozadina" *ngFor="let posao of poslovi" (click)="navigateToDetails(posao.posaoID)">
    <div class="Ponuda">
      <img class="zadatak-slika" [src]="getZadatakSlikaURL(posao.zadatakStraniID)" alt="Kategorija slika">
      <div class="tekst-container2">
        <p class="TekstPonude">{{ posao.nazivZadatka }}</p>
        <p class="TekstPonude">{{ posao.cijena | number:'1.2-2' }} KM</p>
      </div>
    </div>
  </div>
</div>

<!-- Overlay za zamućenje pozadine -->
<div class="overlay" *ngIf="dodaj_posao != false"></div>

<div *ngIf="dodaj_posao" class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel" class="noviPosao">
          <span *ngIf="jezikService.isBosanski(); else englishNoviPosao" class="noviPosao">Novi posao</span>
          <ng-template #englishNoviPosao >New Job</ng-template>
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="dodaj_posao=false"></button>
      </div>
      <div class="modal-body">

        <div class="mb-3">
          <label class="form-label">
            <span *ngIf="jezikService.isBosanski(); else englishZadatak">Zadatak:</span>
            <ng-template #englishZadatak>Task:</ng-template>
          </label>
          <select class="form-control" [(ngModel)]="odabraniZadatakID">
            <option *ngFor="let zadatak of zadaci" [value]="zadatak.zadatakId">{{ zadatak.naziv }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">
            <span *ngIf="jezikService.isBosanski(); else englishOpis">Opis:</span>
            <ng-template #englishOpis>Description:</ng-template>
          </label>
          <input class="form-control" [(ngModel)]="opisPosla"
                 [placeholder]="jezikService.isBosanski() ? 'Opis' : 'Description'" />
          <div *ngIf="!opisPosla && validationMessages.length > 0" class="text-danger">
            <span *ngIf="jezikService.isBosanski(); else englishValidationOpis">Opis posla je obavezan.</span>
            <ng-template #englishValidationOpis>Description is required.</ng-template>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">
            <span *ngIf="jezikService.isBosanski(); else englishGrad">Grad:</span>
            <ng-template #englishGrad>City:</ng-template>
          </label>
          <select class="form-control" [(ngModel)]="odabraniGradID">
            <option *ngFor="let grad of gradovi" [value]="grad.gradID">{{ grad.naziv }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">
            <span *ngIf="jezikService.isBosanski(); else englishAdresa">Adresa:</span>
            <ng-template #englishAdresa>Address:</ng-template>
          </label>
          <input class="form-control" [(ngModel)]="adresaPosla"
                 [placeholder]="jezikService.isBosanski() ? 'Adresa' : 'Address'" />
          <div *ngIf="!adresaPosla && validationMessages.length > 0" class="text-danger">
            <span *ngIf="jezikService.isBosanski(); else englishValidationAdresa">Adresa posla je obavezna.</span>
            <ng-template #englishValidationAdresa>Address is required.</ng-template>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">
            <span *ngIf="jezikService.isBosanski(); else englishRokIzvrsenja">Rok izvršenja:</span>
            <ng-template #englishRokIzvrsenja>Due Date:</ng-template>
          </label>
          <input class="form-control" type="date" [(ngModel)]="odabraniDatum"
                 [placeholder]="jezikService.isBosanski() ? 'Rok izvršenja' : 'Due Date'" />
          <div *ngIf="odabraniDatum < today && validationMessages.length > 0" class="text-danger">
            <span *ngIf="jezikService.isBosanski(); else englishValidationRok">Datum ne može biti stariji od današnjeg.</span>
            <ng-template #englishValidationRok>Date cannot be earlier than today.</ng-template>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">
            <span *ngIf="jezikService.isBosanski(); else englishCijena">Cijena:</span>
            <ng-template #englishCijena>Price:</ng-template>
          </label>
          <input class="form-control" [(ngModel)]="cijenaPosla"

                 [placeholder]="jezikService.isBosanski() ? 'Cijena' : 'Price'" />
          <div *ngIf="(cijenaPosla < 0 || cijenaPosla > 1000) && validationMessages.length > 0" class="text-danger">
            <span *ngIf="jezikService.isBosanski(); else englishValidationCijena">Cijena mora biti između 0 i 1000.</span>
            <ng-template #englishValidationCijena>Price must be between 0 and 1000.</ng-template>
          </div>
        </div>

        <div class="mb-3 form-group">
          <label for="gpsCheckbox">
            <span *ngIf="jezikService.isBosanski(); else englishGPS">Ukljuci GPS:</span>
            <ng-template #englishGPS>Include GPS:</ng-template>
          </label>
          <input type="checkbox" id="gpsCheckbox" [(ngModel)]="ukljucenGPS">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn modal-button" (click)="dodaj_posao=false">
          <span *ngIf="jezikService.isBosanski(); else englishClose">Zatvori</span>
          <ng-template #englishClose>Close</ng-template>
        </button>
        <button type="button" class="btn modal-button" (click)="dodajPosao()">
          <span *ngIf="jezikService.isBosanski(); else englishSaveChanges">Spremi promjene</span>
          <ng-template #englishSaveChanges>Save changes</ng-template>
        </button>
      </div>
    </div>
  </div>
</div>

</html>
