body, html {
  margin: 0;
  padding: 0;
  height: 260vh;
  background-color: rgb(244, 244, 244);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1040;
}

.modal {
  z-index: 1050;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(244, 244, 244);
}

.slikaDatum-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
//background-color: rgb(244, 244, 244);
//color: rgb(218, 208, 174);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 70%; /* Pozicija iznad ikone */
  left: 50%;
  margin-left: -30px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 13px;
}

.slikaDatum-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}



h1 {
  text-align: center;
  font-family: "Book Antiqua";
  font-size: xxx-large;
  color: rgb(48, 48, 48);
}

h2 {
  font-family: "Book Antiqua";
  font-size: xx-large;
  color: rgb(48, 48, 48);
}

.noviPosao{
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 60px;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.centered-button1 {
  flex-grow: 1;
  background-color: rgb(218, 208, 174);
  color: #fff;
  padding: 15px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.centered-button1:hover {
  transform: scale(1.05);
  background-color: rgb(200, 190, 150);
}


.centered-button2 {
  background-color: rgb(225, 224, 224);
  color: rgb(48, 48, 48);
  font-weight: bold;
}

.containerSlika {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left-content {
  text-align: left;
}

.right-content {
  text-align: right;
}

.korisnickiProfil {
  width: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.korisnickiProfil:hover {
  transform: scale(1.1);
}



.slikaDatum {
  width: 250px;
  padding-right: 100px;
  transition: transform 0.3s ease;

}


.slikaDatum:hover {

  transform: scale(1.1);
}




p {
  font-family: "Book Antiqua";
}

.datum {
  background-color: rgb(218, 208, 174);
  border-radius: 10px;
  height: 180px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.tekst-container {
  flex-grow: 1;
  padding: 0 6px;
  padding-bottom: 40px;
}

.uPotraziSi {
  font-size: xxx-large;
  padding-left: 100px;
  padding-top: 2.5rem;
}

.tekst {
  padding-left: 100px;
  font-size: x-large;
  padding-bottom: 1.5rem;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: calc(100% - 100px);
  justify-content: center;
  align-items: center;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.kategorija {
  flex: 0 0 19%;
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.kategorija-slika {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.kategorija:hover {
  transform: scale(1.05);
}

.kategorija:hover .kategorija-slika {
  transform: scale(1.1);
}

.carousel-button {
  cursor: pointer;
  font-size: 24px;
  user-select: none;
  background-color: rgb(218, 208, 174);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}

.carousel-button:hover {
  transform: scale(1.1);
}

.arrow-icon {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  transition: transform 0.2s ease-in-out;
}

.carousel-button:hover .arrow-icon {
  transform: scale(1.1);
}

.containerPonude {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 2.3rem 5rem;
}

.Pozadina {
  background-color: white;
  flex: 1 1 calc(33.333% - 1rem);
  max-width: calc(33.333% - 1rem);
  height: auto;
  border-radius: 10px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.Pozadina:hover {
  transform: scale(1.05);
}

.Ponuda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.zadatak-slika {
  max-width: 100%;
  height: 170px;
  margin-bottom: 10px;
  border-radius: 5%;
  transition: transform 0.3s ease;
}

.Pozadina:hover .zadatak-slika {
  transform: scale(1.1);
}

.tekst-container2 {
  text-align: center;
}

.TekstPonude {
  font-family: "Book Antiqua";
  color: rgb(48, 48, 48);
  font-size: 20px;
  margin: 5px 0;
}

h4 {
  font-family: "Book Antiqua";
  font-size: xx-large;
  color: rgb(48, 48, 48);
  margin-top: 70px;
  margin-bottom: 50px;
  padding-left: 20px;
}

.modal-button {
  background-color: rgb(218, 208, 174);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
}

.modal-button:hover {
  background-color: rgb(200, 190, 160);
}

.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin-left: 33%;
}


.modal-content {
  border-radius: 8px;
  margin: auto;
  max-width: 600px;
  width: 90%;
}

.modal-header, .modal-body, .modal-footer {
  padding: 1rem;
}

.modal-header {
  border-bottom: 1px solid #dee2e6;

}

.modal-footer {
  border-top: 1px solid #dee2e6;
  text-align: right;
}

.modal-title {
  margin: 0;
}

label{
  padding-right: 0.5rem;
}


