/* Osnovni stil za html i body */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(244, 244, 244); /* Boja pozadine za celu stranicu */
}

/* Centriranje sadržaja na celoj stranici */
.language-selection {
  display: flex;
  flex-direction: column;
  margin-top: 160px;
  align-items: center; /* Horizontalno centriranje */
  height: 100vh; /* Zauzima celu visinu prozora */
}

.language-selection h2 {
  font-family: "Book Antiqua";
  font-size: xx-large;
  color: rgb(48, 48, 48);
  margin-bottom: 20px;
}

.language-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Razmak između dugmadi */
}

.language-button {
  background-color: rgb(218, 208, 174);
  border: 0;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px; /* Razmak između ikone i teksta */
  transition: transform 0.3s ease; /* Animacija za hover efekat */
}

.language-button:hover {
  background-color: rgb(200, 190, 160);
  transform: scale(1.1); /* Povećanje dugmeta pri hover-u */
}

.language-icon {
  width: 20px; /* Veličina ikone */
  height: 20px;
  fill: white; /* Boja ikone */
}
