body, html {
  margin: 0;
  padding: 0;
  height: 230vh;
  background-color: rgb(244, 244, 244);
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(244, 244, 244);
}

h1 {
  text-align: center;
  font-family: "Book Antiqua";
  font-size: xxx-large;
  color: rgb(48, 48, 48);
}

h2 {
  font-family: "Book Antiqua";
  font-size: xx-large;
  color: rgb(48, 48, 48);
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 60px;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.centered-button1 {
  flex-grow: 1;
  background-color: rgb(218, 208, 174);
  color: #fff;
  padding: 15px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Dodajte tranziciju */
}

.centered-button1:hover {
  transform: scale(1.05); /* Povećanje dugmeta pri hoveru */
  background-color: rgb(200, 190, 150);/* Potamnjivanje pozadine pri hoveru */
}


.centered-button2 {
  background-color: rgb(225, 224, 224);
  color: rgb(48, 48, 48);
  font-weight: bold;
}

.containerSlika {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left-content {
  text-align: left;
}

.right-content {
  text-align: right;
}

.korisnickiProfil {
  width: 50px;
  cursor: pointer;
}

.slikaDatum {
  width: 250px;
  padding-right: 100px;
}

p {
  font-family: "Book Antiqua";
}

.datum {
  background-color: rgb(218, 208, 174);
  border-radius: 10px;
  height: 180px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.tekst-container {
  flex-grow: 1;
  padding: 0 6px;
  padding-bottom: 40px;
}

.uPotraziSi {
  font-size: xxx-large;
  padding-left: 100px;
  padding-top: 2.5rem;
}

.tekst {
  padding-left: 100px;
  font-size: x-large;
  padding-bottom: 1.5rem;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: calc(100% - 100px);
  justify-content: center;
  align-items: center;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.kategorija {
  flex: 0 0 19%;
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out; /* Dodana animacija */
}

.kategorija-slika {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: contain;
  transition: transform 0.3s ease; /* Dodana animacija */
}

.kategorija:hover {
  transform: scale(1.05); /* Povećanje pri hoveru */
}

.kategorija:hover .kategorija-slika {
  transform: scale(1.1); /* Povećanje slike pri hoveru */
}

.carousel-button {
  cursor: pointer;
  font-size: 24px;
  user-select: none;
  background-color: rgb(218, 208, 174);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}

.carousel-button:hover {
  transform: scale(1.1); /* Povećanje dugmadi pri hoveru */
}

.arrow-icon {
  width: 24px; /* Veličina ikone */
  height: 24px;
  stroke: currentColor;
  transition: transform 0.2s ease-in-out;
}

.carousel-button:hover .arrow-icon {
  transform: scale(1.1); /* Povećanje ikone pri hoveru */
}

.containerPonude {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Razmak između kartica */
  gap: 1rem; /* Smanjite razmak između kartica */
  padding: 2.3rem 5rem; /* Smanjite padding sa strane */
}

.Pozadina {
  background-color: white;
  flex: 1 1 calc(33.333% - 1rem); /* Ažurirano zbog smanjenog gap-a */
  max-width: calc(33.333% - 1rem);
  height: auto; /* Automatska visina */
  border-radius: 10px;
  margin: 10px 0; /* Vertikalni razmak između kartica */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s; /* Dodaj animaciju transformacije */
}

.Pozadina:hover {
  transform: scale(1.05); /* Povećaj element pri hoveru */
}

.Ponuda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px; /* Smanjen padding */
  width: 100%;
}

.zadatak-slika {
  max-width: 100%;
  height: 170px;
  margin-bottom: 10px; /* Razmak ispod slike */
  border-radius: 5%; /* Dodaj zaobljenje slike */
  transition: transform 0.3s ease; /* Animacija prilikom hovera */
}

.Pozadina:hover .zadatak-slika {
  transform: scale(1.1); /* Povećaj sliku pri hoveru */
}

.tekst-container2 {
  text-align: center;
}

.TekstPonude {
  font-family: "Book Antiqua";
  color: rgb(48, 48, 48);
  font-size: 20px;
  margin: 5px 0;
}

h4 {
  font-family: "Book Antiqua";
  font-size: xx-large;
  color: rgb(48, 48, 48);
  margin-top: 70px;
  margin-bottom: 50px;
  padding-left: 20px;
}
