body, html {
  margin: 0;
  padding: 0;
  height: 230vh;
  background-color: rgb(244, 244, 244);
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(244, 244, 244);
}

h1 {
  text-align: center;
  font-family: "Book Antiqua";
  font-size: xxx-large;
  color: rgb(48, 48, 48);
}

h2 {
  font-family: "Book Antiqua";
  font-size: xx-large;
  color: rgb(48, 48, 48);
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 60px;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.centered-button1,
.centered-button2 {
  flex-grow: 1;
  background-color: rgb(218, 208, 174);
  color: #fff;
  padding: 15px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

.centered-button2 {
  background-color: rgb(225, 224, 224);
  color: rgb(48, 48, 48);
  font-weight: bold;
}

.containerSlika {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left-content {
  text-align: left;
}

.right-content {
  text-align: right;
}

.korisnickiProfil {
  width: 50px;
  cursor: pointer;
}

.slikaDatum {
  width: 250px;
  padding-right: 100px;
}

p {
  font-family: "Book Antiqua";
}

.datum {
  background-color: rgb(218, 208, 174);
  border-radius: 10px;
  height: 180px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.tekst-container {
  flex-grow: 1;
  padding: 0 6px;
  padding-bottom: 40px;
}

.uPotraziSi {
  font-size: xxx-large;
  padding-left: 100px;
}

.tekst {
  padding-left: 100px;
  font-size: x-large;
}

.kocka-roza {
  width: 100px;
  height: 100px;
  background-color: rgb(218, 208, 174);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  padding-top: 20px;
  border-radius: 10px;
}

.bijeli {
  width: calc(50% - 5px);
  height: calc(50% - 10px);
  background-color: #fff;
  box-sizing: border-box;
}

.sveTekst {
  color: rgb(48, 48, 48);
  padding-left: 50px;
}

.red-container {
  display: flex;
  align-items: center;
}

.lijevoRozi {
  margin-left: 50px;
}

.Inline {
  display: inline-block;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: calc(100% - 100px);
  justify-content: center;
  align-items: center;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.kategorija {
  flex: 0 0 19%;
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kategorija-slika {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: contain;
}

.arrow {
  cursor: pointer;
  font-size: 24px;
  user-select: none;
  background-color: rgb(218, 208, 174);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 20px;
  color: white;
}
