<div class="containerSlika">
  <div class="left-content">
    <h2>Dobrodošli</h2>
  </div>
  <div routerLink="/korisnickiProfil" class="right-content">
    <img class="korisnickiProfil" src="assets/profil.png" alt="profil">
  </div>
</div>
<br>
<div class="container">
  <button routerLink="/potraznja" class="centered-button1">Potražnja</button>
  <button routerLink="/ponuda" class="centered-button2">Ponuda</button>
</div>

<br>

<div class="datum">
  <div class="tekst-container">
    <p class="uPotraziSi">U potrazi si?</p>
    <br>
    <p class="tekst">Odaberi datum i vrijeme kada ti je neko potreban</p>
  </div>
  <img class="slikaDatum" src="assets/date.png" alt="Datum slika">
</div>
<br>
<br>
<br><br>

<div class="carousel-container">
  <button (click)="prevPage()" class="carousel-button">&lt;</button>
  <div class="carousel">
    <div *ngFor="let kategorija of currentKategorije" class="kategorija">
      <img class="kategorija-slika" [src]="kategorija.slika" alt="Kategorija slika">
      <p>{{ kategorija.naziv }}</p>
    </div>
  </div>
  <button (click)="nextPage()" class="carousel-button">&gt;</button>
</div>
