

<body>
<div class="containerSlika">
  <div class="left-content">
    <h2>Dobrodošli</h2>
  </div>
  <div routerLink="/korisnickiProfil" class="right-content">
    <img class="korisnickiProfil" src="assets/profil.png" alt="profil">
  </div>
</div>
<br>
<div class="container">
  <button class="centered-button1">Potražnja</button>
  <button class="centered-button2">Ponuda</button>
</div>

<br>



<div class="datum">
  <div class="tekst-container">
    <p class="uPotraziSi">U potrazi si?</p>
    <br>
    <p class="tekst">Odaberi datum i vrijeme kada ti je neko potreban</p>
  </div>
  <img class="slikaDatum" src="assets/date.png" alt="Datum slika">
</div>
<br>
<br>
<br><br>

<div class="red-container">
  <div class="lijevoRozi">
    <div class="kocka-roza">
      <div class="bijeli"></div>
      <div class="bijeli"></div>
      <div class="bijeli"></div>
      <div class="bijeli"></div>
    </div>
    <p class="sveTekst">Sve</p>
  </div>

  <div class="button-slike-container">
    <button class="btnLijevo"><</button>
    <div class="Inline"><img class="slikeZadataka" src="assets/setnjaPsa.jpg"><div class="tekstZadataka">Šetnja psa</div></div>
    <div class="Inline"><img class="slikeZadataka" src="assets/kupovina.jpg"><div class="tekstZadataka">Kupovina</div></div>
    <div class="Inline"><img class="slikeZadataka" src="assets/dostava.jpg"><div class="tekstZadataka">Dostava</div></div>
    <div class="Inline"><img class="slikeZadataka" src="assets/ciscenje.jpg"><div class="tekstZadataka">Čišćenje</div></div>
    <div class="Inline"><img class="slikeZadataka" src="assets/placanjeRacuna.jpg"><div class="tekstZadataka">Plaćanje računa</div></div>


    <button class="btnDesno">></button>
  </div>
</div>
<br><br><br>
<h2 class="populrno">Popularno</h2>
<br>
<br>


<div class="containerPopularno">

  <div class="bijelaPozadina">
    <div class="komplet">
      <img class="slikaUKompletu" src="assets/ciscenjeAuta.jpg" >
      <p class="tekstUkoppletu">Dubinsko čišćenje
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
      </p>
      <p class="tekstUkoppletu">100KM</p>
    </div>
  </div>

  <div class="bijelaPozadina">
    <div class="komplet">
      <img class="slikaUKompletu" src="assets/odrzavanjeVrta.jpg" >
      <p class="tekstUkoppletu">Održavanje vrta
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
      </p>
      <p class="tekstUkoppletu">50KM</p>
    </div>
  </div>

  <div class="bijelaPozadina">
    <div class="komplet">
      <img class="slikaUKompletu" src="assets/kucniTreninzi.jpg" >
      <p class="tekstUkoppletu">Kućni treninzi
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
      </p>
      <p class="tekstUkoppletu">30KM</p>
    </div>
  </div>

</div>


<br><br>


<div class="containerPopularno">

  <div class="bijelaPozadina">
    <div class="komplet">
      <img class="slikaUKompletu" src="assets/brigaOsobnomBilju.jpg" >
      <p class="tekstUkoppletu">Briga o biljkama
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
      </p>
      <p class="tekstUkoppletu">15KM</p>
    </div>
  </div>

  <div class="bijelaPozadina">
    <div class="komplet">
      <img class="slikaUKompletu" src="assets/davanjeInstrukcija.jpg" >
      <p class="tekstUkoppletu">Davanje instrukcija
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
      </p>
      <p class="tekstUkoppletu">20KM</p>
    </div>
  </div>

  <div class="bijelaPozadina">
    <div class="komplet">
      <img class="slikaUKompletu" src="assets/cuvanjeDjece.jpg" >
      <p class="tekstUkoppletu">Čuvanje djece
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
        <img class="zvijezdica" src="assets/zvijezdica.png">
      </p>
      <p class="tekstUkoppletu">40KM</p>
    </div>
  </div>

</div>

















</body>

