<div *ngIf="posao" class="detail-container">
  <h2>
    <span *ngIf="jezikService.isBosanski(); else englishDetalji">Detalji o poslu</span>
    <ng-template #englishDetalji>Job Details</ng-template>
  </h2>
  <hr>
  <br>
  <div class="detail-row">
    <img class="zadatak-slika" [src]="getZadatakSlikaURL(posao.zadatakStraniID)" alt="Kategorija slika">
  </div>
  <div class="detail-row">
    <p class="label"><strong>
      <span *ngIf="jezikService.isBosanski(); else englishNaziv">Naziv posla:</span>
      <ng-template #englishNaziv>Job Title:</ng-template>
    </strong></p>
    <p class="value">{{ posao.nazivZadatka }}</p>
  </div>

  <div class="detail-row">
    <p class="label"><strong>
      <span *ngIf="jezikService.isBosanski(); else englishOpis">Opis posla:</span>
      <ng-template #englishOpis>Job Description:</ng-template>
    </strong></p>
    <p class="value">{{ posao.opisPosla }}</p>
  </div>
  <div class="detail-row">
    <p class="label"><strong>
      <span *ngIf="jezikService.isBosanski(); else englishPoslodavac">Poslodavac:</span>
      <ng-template #englishPoslodavac>Employer:</ng-template>
    </strong></p>
    <p class="value">{{ posao.userName }}</p>
  </div>
  <div class="detail-row">
    <p class="label"><strong>
      <span *ngIf="jezikService.isBosanski(); else englishDatumObjave">Datum objave:</span>
      <ng-template #englishDatumObjave>Posted Date:</ng-template>
    </strong></p>
    <p class="value">{{ posao.datumObjave | date }}</p>
  </div>
  <div class="detail-row">
    <p class="label"><strong>
      <span *ngIf="jezikService.isBosanski(); else englishRokIzvrsenja">Rok izvršavanja:</span>
      <ng-template #englishRokIzvrsenja>Deadline:</ng-template>
    </strong></p>
    <p class="value">{{ posao.krajVremena | date }}</p>
  </div>
  <div class="detail-row">
    <p class="label"><strong>
      <span *ngIf="jezikService.isBosanski(); else englishGrad">Grad:</span>
      <ng-template #englishGrad>City:</ng-template>
    </strong></p>
    <p class="value">{{ posao.nazivGrada }}</p>
  </div>
  <div class="detail-row">
    <p class="label"><strong>
      <span *ngIf="jezikService.isBosanski(); else englishAdresa">Adresa:</span>
      <ng-template #englishAdresa>Address:</ng-template>
    </strong></p>
    <p class="value">{{ posao.adresa }}</p>
  </div>
  <div class="detail-row">
    <p class="label"><strong>GPS:</strong></p>
    <p class="value">
    <div class="toggle-container">
      <div class="toggle-button" [ngClass]="{'enabled': posao.ukljucenGPS, 'disabled': !posao.ukljucenGPS}">
        <div class="inner-circle" [ngClass]="{'enabled': posao.ukljucenGPS, 'disabled': !posao.ukljucenGPS}"></div>
      </div>
    </div>
  </div>
  <div class="detail-row">
    <p class="label"><strong>
      <span *ngIf="jezikService.isBosanski(); else englishCijena">Cijena:</span>
      <ng-template #englishCijena>Price:</ng-template>
    </strong></p>
    <p class="value">{{ posao.cijena }} KM</p>
  </div>

  <br><br>

  <div class="dugme">
    <button class="odaberi">
      <span *ngIf="jezikService.isBosanski(); else englishOdaberi">Odaberi</span>
      <ng-template #englishOdaberi>Select</ng-template>
    </button>
  </div>
  <br>
</div>
<br>
