.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1040;
}

.modal {
  z-index: 1050;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: rgb(244, 244, 244);
  height: 270vh;
}


.detail-container {
  font-size: 1.3rem;
  font-family: "Book Antiqua";
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 800px;
  margin: 20px auto;
  box-sizing: border-box;
  position: relative;
}

strong {
  font-size: 1.5rem;
}

h2 {
  font-family: "Book Antiqua";
  font-size: 2rem;
  text-align: center;
}


.detail-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}


.label {
  flex: 1;
  text-align: left;
  padding-right: 10px;
}


.value {
  flex: 1;
  text-align: right;
  padding-left: 10px;
}


.zadatak-slika {
  max-width: 90%;
  height: 300px;
  max-height: 500px;
  display: block;
  margin: 0 auto;
}


.toggle-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.toggle-button {
  display: flex;
  align-items: center;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background-color: #9E9E9E;
  position: relative;
}


.inner-circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}


.toggle-button.enabled {
  background-color: #42b642;
}


.toggle-button.disabled {
  background-color: #9E9E9E;
}


.inner-circle.enabled {
  left: calc(100% - 28px);
}


.inner-circle.disabled {
  left: 2px;
}

.dugme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.odaberi {
  background-color: #86af86;
  border: 0;
  border-radius: 10px;
  width: 250px;
  height: 40px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}

.odaberi:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.chat-box {
  position: absolute;
  top: 910px;
  left: 140px;
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 70px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  animation: fadeOut 3s forwards;
  z-index: 1000;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; display: none; }
}

.comment-container {
  width: 53%;
  margin: 0 auto;
  margin-top: 20px;
}

.comment-item {
  background-color: #cccccc;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.comment-author {
  font-weight: bold;
  margin-bottom: 5px;

}

.comment-text {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.kom{
  margin-left: 11em;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: xx-large;
  font-family: "Book Antiqua";

}

h3{
  margin-left: 0.5em;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: xx-large;
  font-family: "Book Antiqua";

}

.novi-komentar-button {
  background-color: #86af86;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: 56em;
}

.novi-komentar-button .icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.novi-komentar-button:hover {
  background-color: #789678;
}

.icon2 {
  width: 20px;
  height: 20px;
  margin-left: 700px;
}

.icon3 {
  width: 20px;
  height: 27px;
  margin-left: 20px;
  margin-top: 4px;
}



.modal-title{
  padding-top: 13px;
  font-size: 20px;
}

.modal-button{
  background-color:#86af86 ;
}
.modal-button:hover{
  background-color:#789678 ;
}
