
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: rgb(244, 244, 244);
  height: 180vh;
}


.detail-container {
  font-size: 1.3rem;
  font-family: "Book Antiqua";
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 800px;
  margin: 20px auto;
  box-sizing: border-box;
  position: relative;
}

strong {
  font-size: 1.5rem;
}

h2 {
  font-family: "Book Antiqua";
  font-size: 2rem;
  text-align: center;
}


.detail-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}


.label {
  flex: 1;
  text-align: left;
  padding-right: 10px;
}


.value {
  flex: 1;
  text-align: right;
  padding-left: 10px;
}


.zadatak-slika {
  max-width: 90%;
  height: 300px;
  max-height: 500px;
  display: block;
  margin: 0 auto;
}


.toggle-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.toggle-button {
  display: flex;
  align-items: center;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background-color: #9E9E9E;
  position: relative;
}


.inner-circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}


.toggle-button.enabled {
  background-color: #42b642;
}


.toggle-button.disabled {
  background-color: #9E9E9E;
}


.inner-circle.enabled {
  left: calc(100% - 28px);
}


.inner-circle.disabled {
  left: 2px;
}

.dugme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.odaberi {
  background-color: rgb(218, 208, 174);
  border: 0;
  border-radius: 10px;
  width: 250px;
  height: 40px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}

.odaberi:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.chat-box {
  position: absolute;
  top: 910px;
  left: 140px;
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 70px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  animation: fadeOut 3s forwards;
  z-index: 1000;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; display: none; }
}

