<body>
<header>
  <div class="Kategorija">
    <button routerLink="/pocetna" class="Nazad"> <- </button>
    <h1>
      <span class="sveKategorije" *ngIf="!nazivKategorije; else kategorijaNaziv">
        <span  *ngIf="jezikService.isBosanski(); else englishSveKategorije">Sve kategorije</span>
        <ng-template  #englishSveKategorije>All Categories</ng-template>
      </span>
      <ng-template #kategorijaNaziv>
        {{ nazivKategorije }}
      </ng-template>
    </h1>
  </div>

  <div class="pretraga-container">
    <div class="pretraga-wrapper">
      <div *ngIf="showChatBox" class="chat-box">
  <span *ngIf="jezikService.isBosanski(); else englishChatBox1">
    Pretraži poslove po nazivu
  </span>
        <ng-template #englishChatBox1>Search jobs by title</ng-template>
      </div>

      <div *ngIf="showSecondChatBox" class="chat-box second-chat-box">
  <span *ngIf="jezikService.isBosanski(); else englishChatBox2">
    Pretraži poslove po gradu i cijeni
  </span>
        <ng-template #englishChatBox2>Search jobs by city and price</ng-template>
      </div>


      <canvas *ngIf="showCanvas" id="webgl-canvas" width="90" height="70"></canvas>

      <input
        type="text"
        [placeholder]="jezikService.isBosanski() ? 'Pretraži poslove...' : 'Search jobs...'"
        [(ngModel)]="searchTerm"
        (input)="onSearchChange()"
        class="pretraga-input"
      />
      <span class="clear-button" *ngIf="searchTerm" (click)="clearSearch()">
        <svg class="clear-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M12 10.293l4.707-4.707L18 6.293 13.293 11 18 15.707l-1.293 1.293L12 12.293l-4.707 4.707L6 15.707 10.707 11 6 6.293 7.293 4.707z"/>
        </svg>
      </span>
      <span class="filter-button" (click)="openFilterModal()"
            [title]="jezikService.isBosanski()?
              'Dodatni filteri' : 'Additional filters'">
        <svg class="filter-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M10 17l-5-5h10l-5 5zm0-7l-5-5h10l-5 5zm0 7l5-5H5l5 5z"/>
        </svg>
      </span>
      <span class="clear-filter-button" (click)="clearFilter()">
  <span *ngIf="jezikService.isBosanski(); else englishClearFilter">Očisti filter</span>
  <ng-template #englishClearFilter>Clear Filter</ng-template>
</span>

    </div>
  </div>
</header>
<main>
  <div class="containerPonude">
    <div class="Pozadina" *ngFor="let posao of filteredPoslovi" (click)="navigateToDetails(posao.posaoID)">
      <div class="Ponuda">
        <img class="zadatak-slika" [src]="getZadatakSlikaURL(posao.zadatakStraniID)" alt="Kategorija slika">
        <div class="tekst-container">
          <p class="TekstPonude">{{ posao.nazivZadatka }}</p>
          <p class="TekstPonude">{{ posao.cijenaString }} KM</p>
        </div>
      </div>
    </div>
  </div>
</main>


<div class="overlay" *ngIf="showFilterModal != false"></div>

<div *ngIf="showFilterModal" class="modal fade show" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">
          {{ jezikService.isBosanski() ? 'Filtriraj poslove' : 'Filter jobs' }}
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeFilterModal()"></button>
      </div>
      <div class="modal-body">
        <label class="form-label">
          <span *ngIf="jezikService.isBosanski(); else englishCategory">Grad</span>
          <ng-template #englishCategory>City</ng-template>
        </label>
        <select [(ngModel)]="selectedGradID" (change)="onGradChange($event)" class="form-control">
          <option *ngFor="let grad of gradovi" [value]="grad.gradID">{{ grad.naziv }}</option>
        </select>

      </div>
      <div class="modal-body">
        <label>{{ jezikService.isBosanski() ? 'Minimalna cijena:' : 'Minimum Price:' }}</label>
        <input type="range" [(ngModel)]="minPrice" min="0" max="1000" step="10" class="form-range" />
        <div class="range-labels">
          <span>{{ minPrice }} KM</span>
        </div>

        <label>{{ jezikService.isBosanski() ? 'Maksimalna cijena:' : 'Maximum Price:' }}</label>
        <input type="range" [(ngModel)]="maxPrice" min="0" max="1000" step="10" class="form-range" />
        <div class="range-labels">
          <span>{{ maxPrice }} KM</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeFilterModal()">
          {{ jezikService.isBosanski() ? 'Zatvori' : 'Close' }}
        </button>
        <button type="button" class="btn btn-primary" (click)="applyFilter()">
          {{ jezikService.isBosanski() ? 'Primijeni' : 'Apply' }}
        </button>
      </div>
    </div>
  </div>
</div>
</body>
