
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(244, 244, 244);
  height: 230vh;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1040;
}

.modal {
  z-index: 1050;
}

h1 {
  font-family: "Book Antiqua";
  display: inline-block;
  padding-left: 2rem;
}

.Kategorija {
  padding-top: 3rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  font-size: xxx-large;
}

hr {
  color: saddlebrown;
}

.Nazad {
  border: none;
  display: inline-block;
  background-color: rgb(244, 244, 244);
}

.Katalog {
  padding-left: 7.1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}


.containerPonude {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 2.3rem 5rem;
}

.Pozadina {
  background-color: white;
  flex: 1 1 calc(33.333% - 1rem);
  max-width: calc(33.333% - 1rem);
  height: auto;
  border-radius: 10px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.Pozadina:hover {
  transform: scale(1.05);
}

.Ponuda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.zadatak-slika {
  max-width: 100%;
  height: 170px;
  margin-bottom: 10px;
  border-radius: 5%;
  transition: transform 0.3s ease;
}

.Pozadina:hover .zadatak-slika {
  transform: scale(1.1);
}

.tekst-container {
  text-align: center;
}

.TekstPonude {
  font-family: "Book Antiqua";
  color: rgb(48, 48, 48);
  font-size: 20px;
  margin: 5px 0;
}


.pretraga-container {
  text-align: center;
  padding: 1rem 0;
}

.pretraga-wrapper {
  position: relative;
  display: inline-block;
  width: 70rem;
}

.pretraga-input {
  width: 90%;
  max-width: 800px;
  padding: 12px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.clear-button {
  position: absolute;
  right: 17rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.clear-icon {
  width: 20px;
  height: 20px;
  fill: #505050;
}


.filter-button {
  position: absolute;
  right: 13rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.filter-icon {
  width: 20px;
  height: 20px;
  fill: #505050;
}


.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin-left: 33%;
}

.modal-content {
  border-radius: 8px;
  margin: auto;
  max-width: 600px;
  width: 90%;
}

.modal-header, .modal-body, .modal-footer {
  padding: 1rem;
}

.modal-header {
  border-bottom: 1px solid #dee2e6;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
  text-align: right;
}

.modal-title {
  margin: 0;
  font-size: 20px;
}

.modal-body .form-label {

}

.modal-body .form-control {

}

.modal-footer .btn {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;

}

.modal-footer .btn-close {
  margin: 0 0.5rem;


}

.form-range {
  width: 100%;

}

.range-labels {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.clear-filter-button {
  display: inline-block;
  margin-left: 4rem;
  padding: 0.5rem 1rem;
  font-size: 18px;
  color: white;
  background-color: rgb(218, 208, 174);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clear-filter-button:hover {
  background-color: rgb(131, 127, 110);
}

.sveKategorije {
  font-size: 40px;
}

.chat-box {
  position: absolute;
  top: -55px; /* Adjust according to your layout */
  left: 350px; /* Adjust according to your layout */
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  animation: fadeOut 3s forwards; /* Add a fade-out effect */
  z-index: 1000; /* Ensure it is above other elements */
}

/* Stilovi za drugi chat box */
.second-chat-box {
  top: -55px; /* Podesite prema potrebama */
  left: 800px; /* Podesite prema potrebama */
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  animation: fadeOut 3s forwards;
  z-index: 1000;
}



@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; display: none; }
}



