<button class="form-label" (click)="noviZadatak()">Novi zadatak</button>

<div *ngIf="novi_zadatak != null" class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Dodaj komponentu</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="novi_zadatak = null"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Naziv zadatka</label>
          <input [(ngModel)]="novi_zadatak.naziv" class="form-control" placeholder="Naziv">
        </div>
        <div class="mb-3">
          <label class="form-label">Opis zadatka</label>
          <input [(ngModel)]="novi_zadatak.opis" class="form-control" placeholder="Opis">
        </div>
        <div class="mb-3">
          <label class="form-label">Kategorija</label>
          <select [(ngModel)]="novi_zadatak.kategorijaID" class="form-control">
            <option *ngFor="let z of kategorijePodaci" [value]="z.kategorijaID">{{z.naziv}}</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Nova slika</label>
          <input id="slika-input" type="file" accept="image/*" (change)="generisi_preview()">
          <img *ngIf="novi_zadatak.slika_base64_format" [src]="novi_zadatak.slika_base64_format" style="max-width: 100%; height: 200px;">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="novi_zadatak = null">Close</button>
        <button type="button" class="btn btn-primary" (click)="snimiZadatak()">Save changes</button>
      </div>
    </div>
  </div>
</div>


<table class="table table-striped">
  <thead>
  <tr>
    <th>Naziv</th>
    <th>Slika</th>
    <th>Akcija</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of zadaciPodaci">
    <td>{{ item.naziv }}</td>
    <td>
      <img class="profilna-slika" style="max-width: 100%; height: 100px" [src]="MojConfig.adresa_servera + '/Zadatak/slika?id=' + item.zadatakId">
    </td>
  </tr>
  </tbody>
</table>
