<header>
  <br>
  <br>
  <hr>
  <div class="Potražnja">
    <button routerLink="/pocetna" class="Nazad"> <- </button>
    <h1>Potražnja</h1>
  </div>
  <br>
</header>


<body>
<div class="SlikaPotraznje">
  <img class="SlikaP" src="assets/ciscenjeAuta.jpg">
</div>

<div class="ImePrezime">
  <p class="Tekst"> Ime i prezime</p>
</div>

<div class="Kategory">
  <p class="Tekst"> Kategorija</p>
</div>
<div class="NazivZad">
  <p class="Tekst"> Naziv zadatka</p>
</div>

<div class="OpisPosla">
  <p class="Tekst"> Opis posla</p>
</div>

<div class="Cijena">
  <p class="Tekst"> Cijena</p>
</div>

<div class="Dodaj">
  <button class="DugmeDodaj">Dodaj posao</button>
</div>
<br>
<br>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Naziv kategorije</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <th></th>
    <th></th>
  </tr>
  </tbody>

</table>
</body>
