<p class="faq-heading">
  <span *ngIf="jezikService.isBosanski(); else englishFAQHeading">
    Često postavljena pitanja:
  </span>
  <ng-template #englishFAQHeading>Frequently Asked Questions:</ng-template>
</p>
<hr>
<br>
<a class="faq-link" (click)="navigateToPonuda()">
  <span *ngIf="jezikService.isBosanski(); else englishQuestion1">
    1. Kako bolje pretražiti poslove?
  </span>
  <ng-template #englishQuestion1>1. How to better search for jobs?</ng-template>
</a>
<br>
<br>
<a class="faq-link" (click)="navigateToDetalji(3)">
  <span *ngIf="jezikService.isBosanski(); else englishQuestion2">
    2. Kako odabrati posao koji želim obaviti?
  </span>
  <ng-template #englishQuestion2>2. How to choose the job I want to perform?</ng-template>
</a>
<br>
<br>
<a class="faq-link" (click)="navigateToJezik()">
  <span *ngIf="jezikService.isBosanski(); else englishQuestion3">
    3. Kako da promijenim jezik?
  </span>
  <ng-template #englishQuestion3>3. How can I change the language?</ng-template>
</a>
<br>
<br>
<a class="faq-link" (click)="navigateToPocetna()">
  <span *ngIf="jezikService.isBosanski(); else englishQuestion4">
    4. Kako dodati novi posao?
  </span>
  <ng-template #englishQuestion4>4. How to add a new job?</ng-template>
</a>
<br>
<br>
<a class="faq-link" (click)="navigateToPocetna2()">
  <span *ngIf="jezikService.isBosanski(); else englishQuestion5">
    5. Kako pretražiti poslove po određenoj kategoriji?
  </span>
  <ng-template #englishQuestion5>5. How to search jobs by a certain category?</ng-template>
</a>
