.faq-heading {
  font-size: 2em;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 10px;
  text-align: center;
}

.faq-link {
  font-size: 1.3em;
  text-decoration: none;
  color: #2c2c2c;
  padding-left: 10px;
}

.faq-link:hover {
  cursor: pointer;
  font-size: 1.4em;
}
