<body>

<header>
  <br>
  <br>
  <hr>
<div class="Kategorija">
  <button routerLink="/pocetna" class="Nazad"> <- </button>
  <h1>Sve kategorije</h1>
</div>
<br>
<div class="Katalog">
  <h2>Katalog</h2>
</div>
</header>

<main>
<div class="containerPonude">

  <div class="Pozadina">
     <div class="Ponuda">
       <img class="SlikaPonude" src="assets/ciscenjeAuta.jpg">
       <p class="TekstPonude"> Čišćenje auta
         <img class="Star" src="assets/zvijezdica.png">
         <img class="Star" src="assets/zvijezdica.png">
         <img class="Star" src="assets/zvijezdica.png">
         <img class="Star" src="assets/zvijezdica.png">
       </p>
       <p class="TekstPonude"> 35 KM </p>
     </div>
  </div>

  <div class="Pozadina">
    <div class="Ponuda">
      <img class="SlikaPonude" src="assets/kucniTreninzi.jpg">
      <p class="TekstPonude"> Kućni treninzi
        <img class="Star" src="assets/zvijezdica.png">
        <img class="Star" src="assets/zvijezdica.png">
        <img class="Star" src="assets/zvijezdica.png">
      </p>
      <p class="TekstPonude"> 40 KM </p>
    </div>
  </div>

  </div>

<div class="containerPonude">

  <div class="Pozadina">
    <div class="Ponuda">
      <img class="SlikaPonude" src="assets/setnjaPsa.jpg">
      <p class="TekstPonude"> Šetnja psa
        <img class="Star" src="assets/zvijezdica.png">
        <img class="Star" src="assets/zvijezdica.png">
        <img class="Star" src="assets/zvijezdica.png">
        <img class="Star" src="assets/zvijezdica.png">
        <img class="Star" src="assets/zvijezdica.png">
      </p>
      <p class="TekstPonude"> 20 KM </p>
    </div>
  </div>

  <div class="Pozadina">
    <div class="Ponuda">
      <img class="SlikaPonude" src="assets/davanjeInstrukcija.jpg">
      <p class="TekstPonude"> Davanje instrukcija
        <img class="Star" src="assets/zvijezdica.png">
        <img class="Star" src="assets/zvijezdica.png">
        <img class="Star" src="assets/zvijezdica.png">
        <img class="Star" src="assets/zvijezdica.png">
      </p>
      <p class="TekstPonude"> 20 KM </p>
    </div>
  </div>
</div>

<div class="containerPonude">

  <div class="Pozadina">
    <div class="Ponuda">
      <img class="SlikaPonude" src="assets/brigaOsobnomBilju.jpg">
      <p class="TekstPonude"> Briga o sobnom bilju
        <img class="Star" src="assets/zvijezdica.png">
        <img class="Star" src="assets/zvijezdica.png">
        <img class="Star" src="assets/zvijezdica.png">
      </p>
      <p class="TekstPonude"> 15 KM </p>
    </div>
  </div>

  <div class="Pozadina">
    <div class="Ponuda">
      <img class="SlikaPonude" src="assets/dostava.jpg">
      <p class="TekstPonude"> Dostava
        <img class="Star" src="assets/zvijezdica.png">
        <img class="Star" src="assets/zvijezdica.png">
        <img class="Star" src="assets/zvijezdica.png">
        <img class="Star" src="assets/zvijezdica.png">
      </p>
      <p class="TekstPonude"> 10 KM </p>
    </div>
  </div>
</div>


  <div class="containerPonude">

    <div class="Pozadina">
      <div class="Ponuda">
        <img class="SlikaPonude" src="assets/ciscenje.jpg">
        <p class="TekstPonude"> Čišćenje
          <img class="Star" src="assets/zvijezdica.png">
          <img class="Star" src="assets/zvijezdica.png">
          <img class="Star" src="assets/zvijezdica.png">
          <img class="Star" src="assets/zvijezdica.png">
        </p>
        <p class="TekstPonude"> 15 KM </p>
      </div>
    </div>

    <div class="Pozadina">
      <div class="Ponuda">
        <img class="SlikaPonude" src="assets/cuvanjeDjece.jpg">
        <p class="TekstPonude"> Babysitter
          <img class="Star" src="assets/zvijezdica.png">
          <img class="Star" src="assets/zvijezdica.png">
          <img class="Star" src="assets/zvijezdica.png">
          <img class="Star" src="assets/zvijezdica.png">
        </p>
        <p class="TekstPonude"> 25 KM </p>
      </div>
    </div>
  </div>

</main>

</body>
