<body>
<header>
  <br>
  <br>
  <hr>
  <div class="Kategorija">
    <button routerLink="/pocetna" class="Nazad"> <- </button>
    <h1>Sve kategorije</h1>
  </div>
  <br>
  <div class="Katalog">
    <h2>Katalog</h2>
  </div>
</header>

<main>
  <div class="containerPonude">
    <div *ngFor="let posao of poslovi" class="Pozadina">
      <div class="Ponuda">
        <p class="TekstPonude">{{ posao.nazivZadatka }}</p>
        <p class="TekstPonude">{{ posao.cijena }} KM</p>
      </div>
    </div>
  </div>
</main>
</body>
