<body>
<br>
<h1>EVOJAĆU</h1>
<br>
<div class="nav-container">
  <button routerLink="/zadatak" class="navigacija">Zadaci</button>
  <button routerLink="/pocetna" class="navigacija">Početna</button>
  <button routerLink="/kategorija-dodaj" class="navigacija">Kategorije</button>
  <button routerLink="/ponuda" class="navigacija">Ponuda</button>
  <button routerLink="/potraznja" class="navigacija">Potražnja</button>
  <button routerLink="/registracijalogin" class="navigacija">Registracija/Prijava</button>

</div>
<br><br>

<router-outlet></router-outlet>
</body>

